@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@Html.AntiForgeryToken()
<div class="text-center">
    <h1 class="display-4">Schedule Your Next Trip</h1>
    <p>It's easy!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col"><b>Destination</b></div>
        <div class="col"><b>Departure Time</b></div>
        <div class="col"></div>
    </div>
    @foreach(var train in Model.Trains)
    {
        <div class="row">
            <div class="col">@train.Destination</div>
            <div class="col">@train.DepartureTime</div>
            <div class="col">
                <button type="button" style="margin-bottom:5px;" onclick="book('@train.Destination')" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mainModal">
                    Book
                </button>
            </div>
        </div>
    }
</div>

<!-- Modal -->
<div class="modal fade" id="mainModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select a Seat</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="content" class="modal-body">
                Loading
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="submissionModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="submissionModalLabel">Booking</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="submission-content" class="modal-body">
                You have booked your ticket!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                An unexpected error has occurred. Please try again later.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function book(destination) {
            $("#content").load("/train?destination=" + encodeURIComponent(destination));
        }
        async function bookWindowSeat(destination) {
            var json = await postBookingRequest("/windowBooking", destination);
            if (json.error)
                showErrorModal();
            else
                showSubmissionModal(json.success ? `You have booked your ticket to ${destination}. Enjoy your window seat!` : "We aplogize. There are no more window seats at this time.");
        }
        async function bookAisleSeat(destination) {
            var json = await postBookingRequest("/aisleBooking", destination);
            if (json.error)
                showErrorModal();
            else
                showSubmissionModal(json.success ? `You have booked your ticket to ${destination}. Enjoy your aisle seat!` : "We aplogize. There are no more aisle seats at this time.");
        }
        async function postBookingRequest(url, destination) {
            var response = await $.post({
                url: url,
                data: { destination: destination },
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                }
            });
            return response;
        }
        function showSubmissionModal(text){
            var mainModal = bootstrap.Modal.getOrCreateInstance(document.getElementById("mainModal"));
            var subModal = bootstrap.Modal.getOrCreateInstance(document.getElementById("submissionModal"));
            document.getElementById("submission-content").innerHTML = text;
            mainModal.hide();
            subModal.show();
        }
        function showErrorModal() {
            var errorModal = bootstrap.Modal.getOrCreateInstance(document.getElementById("errorModal"));
            errorModal.show();
        }
        
    </script>
}
